<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>[[#{usermain.title}]]</title>
</head>
<body>
<!--<div class="container">-->
<!--    <div class="row">-->
        <nav class="navbar navbar-expand-xxl navbar-dark bg-success">
            <div class="container-fluid">
                <a class="navbar-brand">[[#{usermain.taxservice}]]</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" aria-current="page" href="#">[[#{usermain.home}]]</a>
                        <a class="nav-link" th:href="@{'/user/reports/' + ${userID}(sortby='def')}">[[#{usermain.myreports}]]</a>
                        <a class="nav-link" th:href="@{/logout}">[[#{usermain.logout}]]</a>
                    </div>
                </div>
            </div>
            <div class="d-flex me-2">
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <a class="btn btn-outline-light" href="?lang=en" role="button">EN</a>
                    <a class="btn btn-outline-light" href="?lang=uk" role="button">UK</a>
                </div>
            </div>
        </nav>
    <div class="d-flex justify-content-center" style="margin-top: 20px">
        <h1>[[#{usermain.title2}]]</h1>
    </div>
</body>
</html>