<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>[[#{admin.reportpage.review}]]</title>
</head>
<body>
<nav class="navbar navbar-expand-xxl navbar-dark bg-danger">
    <div class="container-fluid">
        <a class="navbar-brand">[[#{usermain.taxservice}]]</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" aria-current="page" th:href="@{/admin/home}">[[#{usermain.home}]]</a>
                <a class="nav-link" th:href="@{/admin/reports}">[[#{adminMain.allbutton}]]</a>
                <a class="nav-link" th:href="@{/admin/statistics}">[[#{adminMain.statistics}]]</a>
                <a class="nav-link" th:href="@{/admin/users}">[[#{adminMain.users}]]</a>
                <a class="nav-link" th:href="@{/logout}">[[#{usermain.logout}]]</a>
            </div>
        </div>
    </div>
    <!--  <form class="d-inline-flex me-5" th:action="@{/admin/page/{id}(id=${currentPage})}" th:method="post" th:object="${dto}">-->
    <!--    <select class="form-control-sm me-2" th:field="*{reportType}" id="status">-->
    <!--      <option value="">[[#{user.reportpage.filterstatus}]]</option>-->
    <!--      <option th:each="type : ${T(com.example.taxservice.entity.enums.ReportType).values()}"-->
    <!--              th:value="${type}"-->
    <!--              th:text="${type.getLocaleName(loc)}">-->
    <!--      </option>-->
    <!--    </select>-->
    <!--    &nbsp;-->
    <!--    <input type="number" placeholder="Username" th:field="*{userid}">-->
    <!--    <button class="btn btn-outline-light" type="submit">Ok</button>-->
    <!--  </form>-->

    <div>
        <div class="d-flex me-2">
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <a class="btn btn-outline-light" href="?lang=en" role="button">EN</a>
                <a class="btn btn-outline-light" href="?lang=uk" role="button">UK</a>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center">
            <h2>[[#{admin.reportpage.review.report}]]</h2>
        </div>

        <div class="d-lg-block justify-content-center">
            <div class="card" style="margin-top: 45px">
                <div class="text-center">
                    <h5 class="card-header" th:text="#{admin.reportpage.review.numb} + ${report.id} "></h5>
                </div>
                <div class="card-body">
                    <p class="card-text">
                    <form th:action="@{/admin/reviewed}" th:method="post" th:object="${report}">
                        <input type="hidden" th:field="${report.id}">
                        <input type="hidden" th:field="${report.user}">
                        <input type="hidden" th:field="${report.totalAssets}">
                        <input type="hidden" th:field="${report.totalLiabilities}">
                        <input type="hidden" th:field="${report.legalEntityType}">
                        <input type="hidden" th:field="${report.currency}">
                        <input type="hidden" th:field="${report.reportType}">
                        <div class="mb-3">
                            <label for="company_name" class="form-label">[[#{user.reportpage.list.company.name}]]</label>
                            <input type="text" class="form-control" required id="company_name" th:field="${report.companyName}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="company_id" class="form-label">[[#{user.reportpage.list.company.id}]]</label>
                            <input type="number" class="form-control" required id="company_id" th:field="${report.companyId}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="city" class="form-label">[[#{user.reportpage.list.city}]]</label>
                            <input type="text" class="form-control" required id="city" th:field="${report.city}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="birth" class="form-label">[[#{new.report.date}]]</label>
                            <input type="date" class="form-control" readonly id="birth" th:field="*{date}">
                        </div>
                        <div class="form-group mb-3">
                            <label for="reptype">[[#{user.reportpage.list.type}]]</label>
                            <strong><p required id="reptype"  th:text="${report.reportType.getLocaleName(loc)}" readonly></p></strong>
                        </div>
                        <div class="form-group mb-3">
                            <label for="type">[[#{user.reportpage.list.company.type}]]</label>
                            <strong><p required id="type" th:text="${report.legalEntityType.getLocaleName(loc)}" readonly></p></strong>
                        </div>
                        <div class="form-group mb-3">
                            <label for="curr">[[#{user.reportpage.list.currency}]]</label>
                            <strong><p required id="curr" th:text="${report.currency.getLocaleName(loc)}" readonly></p></strong>
                        </div>
                        <div class="mb-3">
                            <label for="cur-assets" class="form-label">[[#{user.reportpage.list.currassets}]]</label>
                            <input type="number" class="form-control" required id="cur-assets" th:field="${report.currentAssets}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="non-cur-assets" class="form-label">[[#{user.reportpage.list.noncurrassets}]]</label>
                            <input type="number" class="form-control" required id="non-cur-assets" th:field="${report.nonCurrentAssets}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="cur-liab" class="form-label">[[#{user.reportpage.list.currliab}]]</label>
                            <input type="number" class="form-control" required id="cur-liab" th:field="${report.currentLiabilities}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="non-cur-liab" class="form-label">[[#{user.reportpage.list.noncurrliab}]]</label>
                            <input type="number" class="form-control" required id="non-cur-liab" th:field="${report.nonCurrentLiabilities}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="equality" class="form-label">[[#{user.reportpage.list.equal}]]</label>
                            <input type="number" class="form-control" required id="equality" th:field="${report.equality}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="comment" class="form-label">[[#{user.reportpage.list.comment}]]</label>
                            <input type="text" class="form-control" required id="comment" th:field="${report.comment}">
                        </div>
                        <div class="form-group mb-3">
                            <label for="repstat">[[#{admin.select.status}]]</label>
                            <select class="form-control selectpicker" th:field="${report.reportStatus}" id="repstat" >
                                <option value="">[[#{new.report.nothing.selected}]]</option>
                                <option th:each="type : ${T(com.example.taxservice.entity.enums.ReportStatus).values()}"
                                        th:value="${type}"
                                        th:text="${type.getLocaleName(loc)}">type
                                </option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" th:field="${report.editable}" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    [[#{admin.set.editable}]]
                                </label>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary m-2">[[#{new.report.submit}]]</button>
                            <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">[[#{new.report.cancel}]]</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/admin/reports}]]"
    }
</script>
<script src="http://code.jquery.com/jquery-3.6.0.js"></script>
<script src="http://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>
