<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>[[${pageTitle}]]</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="d-flex justify-content-end">
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <a class="btn btn-outline-primary" href="?lang=en" role="button">EN</a>
                <a class="btn btn-outline-primary" href="?lang=uk" role="button">UK</a>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <h2>[[${pageTitle}]]</h2>
        </div>

        <div class="d-lg-block justify-content-center">
            <div class="card" style="margin-top: 45px">
                <div class="text-center">
                    <h5 class="card-header" th:text="'Report №' + ${report.id} "></h5>
                </div>
                <div class="card-body">
                    <p class="card-text">
                    <div th:if="${message != null}" class="alert alert-danger" role="alert">
                        <div th:text="${message}"></div>
                    </div>
                    <form th:action="@{/admin/checked}" th:method="post">
                        <input type="hidden" th:field="${report.id}">
                        <input type="hidden" th:field="${report.user}">
                        <input type="hidden" th:field="${report.totalAssets}">
                        <input type="hidden" th:field="${report.totalLiabilities}">
                        <input type="hidden" th:field="${report.date}">
                        <div class="mb-3">
                            <label for="company_name" class="form-label">Company name</label>
                            <input type="text" class="form-control" required id="company_name" th:field="${report.companyName}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="company_id" class="form-label">EDRPOU</label>
                            <input type="number" class="form-control" required id="company_id" th:field="${report.companyId}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="city" class="form-label">City</label>
                            <input type="text" class="form-control" required id="city" th:field="${report.city}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="birth" class="form-label">Report date</label>
                            <p type="text" class="form-control" required id="birth" th:text="${#temporals.format(report.date, 'dd-MM-yyyy')}" readonly></p>
                        </div>
                        <div class="form-group mb-3">
                            <label for="reptype">Report type</label>
                            <input type="text" class="form-control" required id="reptype" th:field="${report.reportType}" readonly>
                        </div>
                        <div class="form-group mb-3">
                            <label for="type">Legal entity type</label>
                            <input type="text" class="form-control" required id="type" th:field="${report.legalEntityType}" readonly>
                        </div>
                        <div class="form-group mb-3">
                            <label for="curr">Currency</label>
                            <input type="text" class="form-control" required id="curr" th:field="${report.currency}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="cur-assets" class="form-label">Current assets</label>
                            <input type="number" class="form-control" required id="cur-assets" th:field="${report.currentAssets}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="non-cur-assets" class="form-label">Non-current assets</label>
                            <input type="number" class="form-control" required id="non-cur-assets" th:field="${report.nonCurrentAssets}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="cur-liab" class="form-label">Current liabilities</label>
                            <input type="number" class="form-control" required id="cur-liab" th:field="${report.currentLiabilities}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="non-cur-liab" class="form-label">Non-current liabilities</label>
                            <input type="number" class="form-control" required id="non-cur-liab" th:field="${report.nonCurrentLiabilities}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="equality" class="form-label">Equality</label>
                            <input type="number" class="form-control" required id="equality" th:field="${report.equality}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="comment" class="form-label">Comment</label>
                            <input type="text" class="form-control" required id="comment" th:field="${report.comment}">
                        </div>
                        <div class="form-group mb-3">
                            <label for="curr">Select status</label>
                            <select class="form-control selectpicker" th:field="${report.status}" id="status" >
                                <option value="">Nothing selected</option>
                                <option th:each="type : ${T(com.example.taxservice.entity.enums.ReportStatus).values()}"
                                        th:value="${type}"
                                        th:text="${type}">type
                                </option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" th:field="${report.editable}" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Set editable
                                </label>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary m-2">Submit</button>
                            <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--</div>-->

</body>
<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/admin/reports}]]"
    }
</script>
<script src="http://code.jquery.com/jquery-3.6.0.js"></script>
<script src="http://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>
