<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Success!</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center" style="margin-top: 30px">
            <h1>You've just successfully registered</h1>
        </div>
        <div class="d-flex justify-content-center" style="margin-top: 15px">
            <a class="btn btn-outline-success" href="/login" role="button">Login</a>
        </div>
    </div>
</div>


</body>
</html>